<div>
  <dialog class="update-dialog">
    <form class="update-form" method="post">
      <div class="form-group" hidden>
        <label for="updateId">ID:</label>
        <input id="updateId" type="number" name="id" />
      </div>

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
      </div>
      <button type="submit">update</button>
      <button class="dialog-close" onclick="">CLOSE</button>
    </form>
  </dialog>
</div>
