<main class="home">
  <div class="home-item">
    <article class="game">
      <img src="/assets/game.jpg" alt="" height="300px" />
      <div>
        <a href="/game">
          <button class="game-button">Games</button>
        </a>
      </div>
    </article>
    <a class="genre" href="/genre"><button>Genre</button></a>
    <a class="developer" href="/developer"><button>Studios</button></a>
  </div>
</main>
