header {
  flex-shrink: 0;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);

  & a {
    text-decoration: none;
    color: inherit;
  }

  & .theme-icon {
    margin-right: 1em;
  }
}
